/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/


#social_media_post_post_message {
  width: 400px;
  height: 200px;
  vertical-align: middle;
}

#remaining_charachter_block {
  line-height: 200px;
}
